<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoBxz4r76A772iltwyifkziUdfrzDitAc</string>
	<key>GCM_SENDER_ID</key>
	<string>565373204452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adv7dev.pizzaria</string>
	<key>PROJECT_ID</key>
	<string>pizzaria-db473</string>
	<key>STORAGE_BUCKET</key>
	<string>pizzaria-db473.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565373204452:ios:69149c20e10a4050bfb9f1</string>
</dict>
</plist>